*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    overflow-x: hidden;
}

/*--> PRE STARTING CSS <--*/
a{
    color: #fff;
    text-decoration: none;
}

.divider_my {
    width: 100%;
    height: 3px;
    border-top: 1px solid #ccc;
    margin: 5px;
}
/*--> END <--*/

/*--> HEADER <--*/
header{
    width: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    flex-wrap: wrap;
}

header .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    text-transform: uppercase;

    font-size: 41px;
    padding: 20px;
}

header .logo .logo_info{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

header .login_reg_modal{
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .login_reg_modal .login{
    color: white;
    background-color: #000;
    padding: 10px 20px;
    font-size: 20px;
}

header .login_reg_modal .login:hover{
    background-color: rgba(0, 0, 0, 0.5);

    transition: 1s;
}

header .login_reg_modal .advert{
    color: #000;
    background-color: #fff;

    border: #000 2px solid;
    border-radius: 5px;

    padding: 8px 20px;
    font-size: 20px;

    margin-right: 40px;
}

header .login_reg_modal .advert:hover{
    background-color: #000;
    color: #fff;

    transition: 1s;
}

header .function{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .function .func_{
    display: flex;
    flex-direction: column;
}

header .function .func_ .info{
    position: absolute;

    display: none;
    flex-direction: column;

    z-index: 2;
    background-color: white;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

header .function .func_ .info input{
    margin: 20px;

    padding: 10px;
}

header .function .func_ .info button{
    cursor: pointer;
    border: none;

    color: white;
    background-color: #000;

    padding: 10px;
    margin: 20px;
}

header .function a{
    color: #000;

    padding: 5px 20px;

    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

header .function a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
}

header .input_field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .input_field input{
    margin: 10px;
    width: 250px;
    height: 30px;

    outline: none;
}

header .input_field .search_btn{
    color: white;
    background-color: #000;
    padding: 7px 20px;
    font-size: 16px;

    border: none;
    cursor: pointer;
}

header .input_field .search_btn:hover{
    background-color: rgba(0, 0, 0, 0.5);

    transition: 1s;
}

header .section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
}

/*--> END <--*/

/*--> SECTION INPUT INFO <--*/
.input_info{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 50px;
}

.input_info .block_where{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.input_info .block_what{
    margin-top: 30px;
    color: rgba(0, 0, 0);
    font-size: 36px;
}

.input_info .variants{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #000;

    margin-top: 30px;
}

.input_info .variants .how_many{
    font-size: 18px;
    margin: 10px;
}

.input_info .variants a{
    padding: 5px 20px;

    border: 1px rgba(0, 0, 0, 0.25) solid;
    font-size: 18px;

    color: #000;

    margin: 10px;
}

/*--> END <--*/

/*--> SECTION SELECT <--*/
.select{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container{
    width: 100%;

    border: none;
    border-radius: 10px;

    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    margin-top: 50px;
    margin-bottom: 50px;

    transform: translateX(200%);
    transition: transform 1s ease-in-out;
}

.container:nth-of-type(even) {
    transform: translateX(-200%);
}

.container.show{
    transform: translateX(0);
}

.container .block_info{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-left: 50px;
    margin-right: 50px;
}

.container .picture{
    width: 30%;
    height: 350px;

    background-image: url("https://images.wallpaperscraft.com/image/single/lights_night_city_blurring_9813_1920x1080.jpg");
    background-size: cover;
}

h2{
    font-size: 20px;
    font-weight: lighter;

    color:rgb(121, 121, 121);

    text-align: center;

    margin-bottom: 20px;
}

.bold{
    font-size: 36px;
    font-weight: bold;

    color: rgb(0, 0, 0);
}

.container .line{
    border: 1px solid;
    
    color:rgba(0, 0, 0, 0.25);
    width: 90%;

    margin-top: 10px;
    margin-bottom: 10px;
}

.container .info{
    display: flex;
    flex-direction:row;

    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}

.container .picture_info{
    border: none;
    border-radius: 25px;

    background-image: url("https://static.tildacdn.com/tild3138-3439-4261-b735-346437663931/unnamed.jpg");
    background-size: cover;

    height: 100px;
    width: 100px;
}

.info .info_text{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100%;
}

.info_text small{
    font-size: 16px;
    color:rgb(121, 121, 121);
}

.info_text .bold{
    font-size: 18px;
}

/*--> END <--*/

/*--> Pattern <--*/

/*--> END <--*/

/*--> READY FOOTER <--*/
.footer {
    width: 100%;
    background: #ebedf2;
    color: #333;
}
  
.footer a {
    color: #333;
}
  
.footer_container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}
  
.footer_lists {
    display: flex;
    justify-content: space-between;
}
  
.footer_lists .list_head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.divider {
    width: 100%;
    height: 3px;
    border-top: 1px solid #ccc;
    margin: 30px 0;
}
  
.social_icons img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}
/*--> END <--*/

/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-box {
    margin: 10% auto;
    width: 400px;
    background-color: #fff;
    color: #333;
    position: relative;
    animation: modalopen 1s;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modal-body {
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal form{
    width: 90%;
  }

  .modal form p{
    text-align: center;
  }

  .modal-body h3 {
    font-weight: bold;
    font-size: 36px;
  }
  
  .modal-body .btn_button_dark{
    width: 100%;
    margin-top: 30px;

    background-color: #000;
    color: #fff;
    padding: 20px;
    border: none;

    font-size: 18px;
    cursor: pointer;
  }
  
  .modal .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .modal .modal-footer {
    background-color: #f7f7f9;
    color: #333;
    padding: 20px 0;
    border-top: 1px solid #eee;
    text-align: center;
  }
  
  .modal a {
    color: steelblue;
  }
  
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
    text-transform: uppercase;
  }
  
  .form-control input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
  }
/*end*/

@media (max-width: 1250px){
    .container .picture{
        width: 70%;
    }
}

@media (max-width: 1024px) {
    header .logo{
        font-size: 60px;
    }
    header .logo .logo_info{
        font-size: 22px;
    }

    header .section{
        width: 100%;
    }

    header .function a{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header .input_field{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header .input_field input{
        width: 500px;
        padding: 20px;
        height: 50px;
    }

    header .input_field .search_btn{
        padding: 10px 20px;
        font-size: 24px;
    }

    .input_info{
        align-items: center;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px){
    header .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .section .function{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .section .input_field{
        display: none;
        flex-direction: column;
    }

    header .section .input_field input{
        width: 100%;
        margin-bottom: 30px;
    }

    header .function .func_ .info{
        position: relative;
    }

    .container{
        flex-direction: column;
    }

    .container .picture{
        width: 100%;
        margin-bottom: 20px;
    }
}